@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ff5722;
  --color-background-light: #f8f6f5;
  --color-background-dark: #23140f;
  --color-charcoal: #263238;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background-light text-charcoal font-sans;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
